<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-image: url(http://desktopwallpapers.org.ua/pic/201110/2560x1440/desktopwallpapers.org.ua-6800.jpg);
            background-size: 100%;
            background-attachment: fixed;
        }
        contanier
        {
            widht:80%
        }
    </style>
    <title>Добавить работника</title>
</head>
<body>
<p><h1 class="text-center">Добавление работника кино в систему</h1></p>
<form method="get" action="" align="center">
      <div class="contanier" class="center">

          <p><h4>Введите уникальный номер человека</h4></p>
          <p><input name="id" placeholder="ID"></p>
  </div>
  <div class="text-center">
    <p><h4>Введите имя работника</h4></p>
    <input name="name" placeholder="Имя">
  </div>
  <div class="text-center">
    <p><h4>Введите фамилию работника</h4></p>
    <input name="sername" placeholder="Фамилия">
  </div>
      <div class="text-center">
    <p><h4>Введите отчество работника (если есть)</h4></p>
    <input name="lastname" placeholder="Отчество">
  </div>
  <div class="center">
      <p><h4>Введите должность</h4></p>
    <input name="work" placeholder="Должность">
  </div>
<button type="submit" class="btn btn-warning btn-lg btn-block" class="text-center">Подтвердить</button>
</form>
<p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/AdminMain">Вернуться в меню</button></form></p>
</body>
</html>