<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-image: url(http://desktopwallpapers.org.ua/pic/201110/2560x1440/desktopwallpapers.org.ua-6800.jpg);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <title>Кинотеатр {{ name }}</title>
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm" class="center">
        <img src="https://pbs.twimg.com/profile_banners/2473805786/1563259225/1500x500" border="0">
        </div>
    </div>
    <div class = "container" class ="center">
    <div class = "row" class ='center'>
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/CinemaList">Кинотеатры</button></form></p>
        </div>
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/FilmList">Фильмы</button></form></p>
        </div>
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/PersonList">Люди</button></form></p>
        </div>
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000">Главная</button></form></p>
        </div>
        {% if userstat != "user" %}
            {% if userstat != "moderator" %}
                {% if userstat != "admin" %}
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/autorization">Вход</button></form></p>
        </div>
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/Registration">Регистрация</button></form></p>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
        {% if userstat == "admin" or userstat == "moderator" %}
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/AdminMain">Админка</button></form></p>
        </div>
    {% endif %}
    {% if userstat == "admin" or userstat == "moderator" or userstat == "user"%}
        <div class="col-sm">
            <p><form><button type="button" class="btn btn-danger btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/exit">Выйти</button></form></p>
        </div>
    {% endif %}
    </div>
    </div>
<div class="row">

<div class="col-sm">
    <h1>Кинотеатр {{ name }}</h1>
<p>Адрес: {{ location }}</p>
<p>Описание: {{ description }}</p>
</div>
</div>
<div class="row">
<div class="col-sm" class="center">
    <p><h4>Расписание сеансов</h4></p>
<p><h5>Понедельник</h5></p>
{% for i in seanses %}
{% if i.day == "Monday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
        <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
<p><h5>Вторник</h5></p>
{% for i in seanses %}
{% if i.day == "Tuesday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
    <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
<p><h5>Среда</h5></p>
{% for i in seanses %}
{% if i.day == "Wednesday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
    <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
<p><h5>Четверг</h5></p>
{% for i in seanses %}
{% if i.day == "Thusday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
    <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
<p><h5>Пятница</h5></p>
{% for i in seanses %}
{% if i.day == "Friday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
    <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
<p><h5>Суббота</h5></p>
{% for i in seanses %}
{% if i.day == "Saturday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
    <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
<p><h5>Воскресенье</h5></p>
{% for i in seanses %}
{% if i.day == "Sunday"%}
    <p>{{ i.date }} - {{ i.time }}</p>
    <p>{{ i.film }}</p>
    {% endif %}
    <br>
{% endfor %}
</div>
</div>
</div>
</body>
</html>