<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-image: url(http://desktopwallpapers.org.ua/pic/201110/2560x1440/desktopwallpapers.org.ua-6800.jpg);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <title>Удалить фильм</title>
</head>
<body>
<h1>Удаление фильма из системы</h1>
<form>
 <div class="center">
      <p><h4>Введите уникальный номер фильма</h4></p>
    <input name="id" placeholder="ID">
  </div>
<button type="submit" class="btn btn-warning btn-lg btn-block" class="text-center">Подтвердить</button>
</form>
<p><form><button type="button" class="btn btn-warning btn-lg btn-block" class="text-center" onclick = location.href="http://127.0.0.1:8000/AdminMain">Вернуться в меню</button></form></p>

</body>
</html>